@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    
}
.neutral {
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
} 

.success {
    box-shadow: 0 0 5px #03f45b,
    0 0 25px #03f45b,
    0 0 50px #03f45b,
    0 0 100px #03f45b;
}
.failure {
    box-shadow: 0 0 5px #f40303,
    0 0 25px #f40303,
    0 0 50px #f40303,
    0 0 100px #f40303;
} 


h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

form {
    position: relative;
}

label {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}


.lastResult {
    color: white;
    padding: 3px;
}

.guessSubmit{
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    left: 20%;
    transition: 1.5s;
    margin-top: 40px;
    letter-spacing: 2px
}

.guessSubmit:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.newGame{
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #03e9f4;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    left: 19%;
    transition: 1.5s;
    margin-top: 40px;
    letter-spacing: 2px
}

.newGame:hover {
    background: #fe0b0b;
    color: #fff;
    border-radius: 5px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 0 5px #fe0b0b,
        0 0 25px #fe0b0b,
        0 0 50px #fe0b0b,
        0 0 100px #fe0b0b;
}